{% load staticfiles %}
<html>
<head>
<title>Поиск инцидентов</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<link rel="stylesheet" href="{% static 'css/time.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/inlines.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="/static/manager/Searcher.js"></script>
</head>
<body>
{% block menu %}
{% include 'manager/menu.html' %}
{% endblock %}
<!--<form  method="POST" id="form_send"> <!--action="javascript:void(null);" onsubmit="Searcher()">-->
			
        <table border=1px width=100%>
	<thead>
			<tr class="tr_head">
		<th colspan="2"><a class="back"  href="{% url 'index' %}">На главную</a>Поиск инцидентов</th>
			</tr>
		</thead>
		<tbody class="tr_body">
                <tr>
		<td class="tr_main"><label>Введите номер инцидента</label></td>
		<td  class="form-group"><input type="text" id="find_number"></input>
		</td>
		</tr>
                <tr class="tr_main">
			<td  colspan="2">
			<input id="sender" border="2px"  type="button"  value="Найти"/>
			</td>
			</tr>
		</tbody>
        </table>
        <br>
        <table border=1px width=100%>
		<thead>
			<tr class="tr_head">
			<td colspan="6" class="tr_main">Результат поиска</td>
			</tr>
			<tr class="tr_head">
				<th>№ инцидента</th>
				<th>Уровень</th>
				<th>Статус</th>
				<th>Краткое описание</th>
				<th>Инициатор</th>
				<th>Координатор</th>
			</tr>
		</thead>
		<tbody class="tr_body">
			{% for issue in issues %}
			<tr  id="sucess" class="tr_click" onclick="openWin('{% url 'view_issue' number=issue.number_issue %}')">
				<td ></td>
				<td>{{ issue.level_issue }}</td>
				<td>{{ issue.current_status }}</td>
				<td>{{ issue.brief_description }}</td>
				<td>{{ issue.creator }}</td>
				<td>{{ issue.coordinator }}</td>
			</tr>
			{% endfor %}
		<tbody>
        <!--</form>-->
{% block footer_js %}
<script>
    var django = django || {};
    django.jQuery = $;
</script>
{{ form.media }}
{% endblock %}
<script src="{% static 'manager/link.js' %}"></script>
</body>
</html>
