{% load staticfiles %}
<html>
<head>
<title>Главная страница</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<head>
<!--<link href="style.css" rel="stylesheet">-->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
</head>
	<body>
	<div id="logo_img"><img src="{% static 'manager/лиса с твитера.jpeg' %}" alt="Лиса" class="logo"></div>
	<h1>Система управления инцидентами</h1>
	<br></br>
        {% block content %}
        {% include 'manager/log_user.html' %}
        {% endblock %}
	<ul id="navbar">
  	<li><a class="menu" href="{% url 'create_issue' %}" target="_blank">Создать инцидент</a></li>
  	<li><a class="menu" href="#">Список инцидентов</a>
	<ul>
        <li><a href="{% url 'view_issues_user' %}" target="_blank">Мои инциденты</a></li>
        <li><a href="{% url 'view_issues_user_groups' %}" target="_blank">Инциденты моей группы</a></li>
        <li><a href="{% url 'view_issues_user_wait' %}" target="_blank">Инциденты, ожидающие ответа</a></li>
        </ul>	
	</li>
  	<li><a class="menu" href="#">Поиск инцидентов</a>
	<ul>
        <li><a href="#">Поиск по номеру</a></li>
        <li><a href="#">Поиск по содержимому</a></li>
        </ul>
	</li>
  	<li><a class="menu" href="{% url 'view_reports' %}">Отчёты</a>
	</li>
	<li><a class="menu" href="#">Статистика</a>
	<ul>
        <li><a href="#">Простои</a></li>
        <li><a href="#">Динамика аварий</a></li>
        </ul>	
	</li>
	<li><a class="menu" href="#">Справка</a>	
	</li>
	<li><a class="exit"  href="/login/logout/">Выход</a></li>
	</ul>
	<br>
	<br>
	<table border=1px width=100%>
		<thead>
			<tr class="tr_head">
			<td colspan="6" class="tr_main">Последние открытые инциденты</td>
			</tr>
			<tr class="tr_head">
				<th>№ инцидента</th>
				<th>Уровень</th>
				<th>Статус</th>
				<th>Краткое описание</th>
				<th>Инициатор</th>
				<th>Координатор</th>
			</tr>
		</thead>
		<tbody class="tr_body">
<!--заполнение использовано для тестирования-->
			{% for issue in issues %}
			<!--<a href="{% url 'view_issue' number=issue.number_issue %}" target="_blank" class="visit">-->
			<tr class="tr_click" onclick="openWin('{% url 'view_issue' number=issue.number_issue %}')">
				<td>{{ issue.number_issue }}</td>
				<td>{{ issue.level_issue }}</td>
				<td>{{ issue.current_status }}</td>
				<td>{{ issue.brief_description }}</td>
				<td>{{ issue.creator }}</td>
				<td>{{ issue.coordinator }}</td>
			</tr>
			{% endfor %}
		<tbody>
	<script src="{% static 'manager/link.js' %}"></script>
	</body>
</html>
