{% load staticfiles %}
<html>
<head>
<title>Главная страница</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<head>
<!--<link href="style.css" rel="stylesheet">-->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
	<body>
	<div id="logo_img"><img src="{% static 'manager/лиса с твитера.jpeg' %}" alt="Лиса" class="logo"></div>
	<h1>Система управления инцидентами</h1>
	<br></br>
	<ul id="navbar">
  	<li><a class="menu" href="create_issue" target="_blank">Создать инцидент</a></li>
  	<li><a class="menu" href="#">Список инцидентов</a>
	<ul>
        <li><a href="#">Мои инциденты</a></li>
        <li><a href="#">Инциденты моей группы</a></li>
        <li><a href="#">Инциденты, ожидающие ответа</a></li>
        </ul>	
	</li>
  	<li><a class="menu" href="#">Поиск инцидентов</a>
	<ul>
        <li><a href="#">Поиск по номеру</a></li>
        <li><a href="#">Поиск по содержимому</a></li>
        </ul>
	</li>
  	<li><a class="menu" href="#">Отчёты</a>
	<ul>
        <li><a href="#">Отчёт за текущий день</a></li>
        <li><a href="#">Отчёт за неделю</a></li>
        <li><a href="#">Отчёт за месяц</a></li>
	<li><a href="#">Отчёт за дату</a></li>
        </ul>	
	</li>
	<li><a class="menu" href="#">Статистика</a>
	<ul>
        <li><a href="#">Простои</a></li>
        <li><a href="#">Динамика аварий</a></li>
        </ul>	
	</li>
	<li><a class="menu" href="#">Справка</a>	
	</li>
	<li><a class="exit"  href="#">Выход</a></li>
	</ul>
	<br>
	<br>
	<table border=1px width=100%>
		<thead>
			<tr class="tr_head">
				<th>№ инцидента</th>
				<th>Уровень</th>
				<th>Статус</th>
				<th>Краткое описание</th>
				<th>Инициатор</th>
				<th>Координатор</th>
			</tr>
		</thead>
		<tbody class="tr_body">
<!--заполнение использовано для тестирования-->
			<tr>
				<td>test</td>
				<td>test</td>
				<td>test</td>
				<td>test</td>
				<td>test</td>
				<td>test</td>
			</tr>
			<tr>
				<td>test</td>
				<td>test</td>
				<td>test</td>
				<td>test</td>
				<td>test</td>
				<td>test</td>
			</tr>
			<tr>
				<td>test</td>
				<td>test</td>
				<td>test</td>
				<td>test</td>
				<td>test</td>
				<td>test</td>
			</tr>
			<tr>
				<td>test</td>
				<td>test</td>
				<td>test</td>
				<td>test</td>
				<td>test</td>
				<td>test</td>
			</tr>
			<tr>
				<td>test</td>
				<td>test</td>
				<td>test</td>
				<td>test</td>
				<td>test</td>
				<td>test</td>
			</tr>
		<tbody>
	</body>
</html>
