{% load static %}
<html>
<head>
<title>Главная страница</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<head>
<!--<link href="style.css" rel="stylesheet">-->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
</head>
	<body>
        {% block menu %}
        {% include 'manager/menu.html' %}
        {% endblock %}
	<table border=1px width=100%>
		<thead>
			<tr class="tr_head">
			<td colspan="6" class="tr_main">Последние изменения</td>
			</tr>
			<tr class="tr_head">
				<th>№ инцидента</th>
				<th>Уровень</th>
				<th>Статус</th>
				<th>Краткое описание</th>
				<th>Инициатор</th>
				<th>Координатор</th>
			</tr>
		</thead>
		<tbody class="tr_body">
			{% for issue in issues %}
			<tr class="tr_click" onclick="openWin('{% url 'view_issue' number=issue.number_issue %}')">
				<td>{{ issue.number_issue }}</td>
				<td>{{ issue.level_issue }}</td>
				<td>{{ issue.current_status }}</td>
				<td>{{ issue.brief_description }}</td>
				<td>{{ issue.creator }}</td>
				<td>{{ issue.coordinator }}</td>
			</tr>
			{% endfor %}
		<tbody>
{% block footer_js %}
<script>
    var django = django || {};
    django.jQuery = $;
</script>
{{ form.media }}
{% endblock %}
<script src="{% static 'manager/link.js' %}"></script>
</body>
</html>
