{% load static %}
<html>
<head>
<title>Редактирование инцидента</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<head>
<link rel="stylesheet" href="{% static 'css/time.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<!--<script type="text/javascript" src="/static/admin/js/inlines.min.js"></script>-->
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<!--<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>-->
<script type="text/javascript" src="/static/manager/issue_edit_save.js"></script>
</head>
<body>
{% block menu %}
{% include 'manager/menu.html' %}
{% endblock %}
	<form  method="POST">
		{% csrf_token %}	
	<table border=1px width=100%>
		<thead>
			<tr class="tr_head">
				<th colspan="2" ><a class="back"  href="{% url 'index' %}">На главную</a>Редактирование инцидента №<p id="number">{{ issue.number_issue }}</p></th>
			</tr>
		<thead>
		<tbody>
			<tr>
				<td class="tr_main"><label>Уровень инцидента</label></td>
				<td>
				 {{ form.level_issue }}
                                
				</td>
			</tr>
			<tr>
				<td class="tr_main"><label>Текущий статус</label></td>
				<td>
				 {{ form.current_status }}
				</td>
			</tr>
			<tr>
				<td class="tr_main"><label>Краткое описание</label></td>
				<td>
				 {{ form.brief_description }}
				</td>
			</tr>
			<tr>
				<td class="tr_main"><label>Комментарий</label></td>
				<td>
				 {{ form.comment }}
				</td>
			</tr>
			<tr>
				<td class="tr_main"><label>Дата начала простоя</label></td>
				<td>
				    {{ form.start_down_date  }}
				</td> 
			</tr>
			<tr>
				<td class="tr_main"><label>Время начала простоя</label></td>
				<td>
				    {{ form.start_down_time  }}
				</td> 
			</tr>
			<tr>
				<td class="tr_main"><label>Дата создания инцидента</label></td>
				<td class="form-group">
				    {{ form.start_issue_date  }}
				</td> 
			</tr>
			<tr>
				<td class="tr_main"><label>Время создания инцидента</label></td>
				<td class="form-group">
				    {{ form.start_issue_time  }}
				</td>
			</tr>
			
			<tr>
				<td class="tr_main"><label>Подразделение</label></td>
				<td>
				{{ issue.workspace }}
				</td>
			</tr>
			<tr>
				<td class="tr_main"><label>Тип оборудования</label></td>
				<td>{{ issue.equipment_name }}
			        </td>

				
				</td>
			</tr>
			<tr>
				<td class="tr_main"><label>Модель</label></td>
                                <td>{{ dist_model }}</td>
			</tr>
			<tr>
				<td class="tr_main"><label>Инвентарный №</label></td>
 				<td>{{ dist_num_result }}</td>
			</tr>
			<tr>
				<td class="tr_main"><label>Инициатор</label></td>
				<td>
				{{ issue.creator }}
				</td>
			</tr>
			<tr>
				<td class="tr_main"><label>Рабочая группа</label></td>
				<td>
				{{  form.groups_of_work }}
				</td>
			</tr>
			<tr>
				<td class="tr_main"><label>Координатор</label></td>
				<td>
				{{ form.coordinator }}
				</td>
			</tr>
			<tr>
				<td class="tr_main"><label>Исполнитель</label></td>
				<td>
				{{ form.executor }}
				</td>
			</tr>
			<tr>
				<td class="tr_main"><label>Ход работ</label></td>
				<td>
				{{ form.progress }}
				</td>
			</tr>
			<tr>
				<td class="tr_main"><label>Причина</label></td>
				<td>
				{{ form.group_of_reason }}
				</td>
			</tr>
			<tr>
				<td class="tr_main"><label>Способ устранения</label></td>
				<td>
				{{ form.solution }}
				</td>
			</tr>
			<tr>
				<td class="tr_main"><label>Дата окончания простоя</label></td>
				<td class="form-group">
				{{ form.close_down_date }}
				</td>
			</tr>
			<tr>
				<td class="tr_main"><label>Время окончания простоя</label></td>
				<td class="form-group">
				{{ form.close_down_time  }}
				</td>
			</tr>
			<tr>
				<td class="tr_main"><label>Дата закрытия инцидента</label></td>
				<td class="form-group">
				{{ form.close_issue_date }}
				</td>
			</tr>
			<tr>
				<td class="tr_main"><label>Время закрытия инцидента</label></td>
				<td class="form-group">
				{{ form.close_issue_time  }}
				</td>
			</tr>
			<tr class="tr_main">
			<td colspan="2" id="save">
			<input  border="2px" type="submit" value="Сохранить"/>
			</td>
			</tr>
		</tbody>
	</table>
{% block footer_js %}
<script>
    var django = django || {};
    django.jQuery = $;
</script>
{{ form.media }}
{% endblock %}
</form>
</body>
<html>
			
