{% load static %}
<html>
<head>
<title>Инциденты моей группы</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<head>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
{% block menu %}
{% include 'manager/menu.html' %}
{% endblock %}
	<table border=1px width=100%>
		<thead>
                        <tr class="tr_head">
			<td colspan="6" class="tr_main"><a class="back"  href="{% url 'index' %}">На главную</a>Инциденты моей группы</td>
			</tr>
			<tr class="tr_head">
				<th>№ инцидента</th>
				<th>Уровень</th>
				<th>Статус</th>
				<th>Краткое описание</th>
				<th>Инициатор</th>
				<th>Координатор</th>
			</tr>
		</thead>
		<tbody class="tr_body">
<!--заполнение использовано для тестирования-->
			{% for issue in issues_groups %}
			<!--<a href="{% url 'view_issue' number=issue.number_issue %}" target="_blank" class="visit">-->
			<tr class="tr_click" onclick="openWin('{% url 'view_issue' number=issue.number_issue %}')">
				<td>{{ issue.number_issue }}</td>
				<td>{{ issue.level_issue }}</td>
				<td>{{ issue.current_status }}</td>
				<td>{{ issue.brief_description }}</td>
				<td>{{ issue.creator }}</td>
				<td>{{ issue.coordinator }}</td>
			</tr>
			{% endfor %}
		<tbody>
	<script src="{% static 'manager/link.js' %}"></script>
	</body>
</html>
