{% load staticfiles %}
{% block menu %}
<div id="logo_img"><img src="{% static 'manager/лиса с твитера.jpeg' %}" alt="Лиса" class="logo"></div>
	<h1>Система управления инцидентами</h1>
	<br></br>
        {% block content %}
        {% include 'manager/log_user.html' %}
        {% endblock %}
	<ul id="navbar">
  	<li><a class="menu" href="{% url 'create_issue' %}" target="_blank">Создать инцидент</a></li>
  	<li><a class="menu" href="#">Список инцидентов</a>
	<ul>
        <li><a href="{% url 'view_issues_user' %}" target="_blank">Мои инциденты</a></li>
        <li><a href="{% url 'view_issues_user_groups' %}" target="_blank">Инциденты моей группы</a></li>
        <li><a href="{% url 'view_issues_user_wait' %}" target="_blank">Инциденты, ожидающие ответа</a></li>
        </ul>	
	</li>
  	<li><a class="menu" href="#">Поиск инцидентов</a>
	<ul>
        <li><a href="{% url 'find_issues' %}" target="_blank">Поиск по номеру</a></li>
        <li><a href="{% url 'find_content' %}" target="_blank">Поиск по содержимому</a></li>
        </ul>
	</li>
  	<li><a class="menu" href="{% url 'view_reports' %}" target="_blank">Отчёты</a>
	</li>
	<li><a class="menu" href="#">Статистика</a>
	<ul>
        <li><a href="{% url 'view_statistic_downtime' %}" target="_blank">Простои</a></li>
        <li><a href="{% url 'view_statistic_issues' %}" target="_blank">Динамика аварий</a></li>
        </ul>	
	</li>
	<li><a class="menu" href="#">Справка</a>	
	</li>
	<li><a class="exit"  href="/login/logout/">Выход</a></li>
	</ul>
	<br>
	<br>
{% endblock %}
