{% load staticfiles %}
<html>
<head>
<title>Отчёты</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<link rel="stylesheet" href="{% static 'css/time.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/inlines.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<!--<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>-->
<script type="text/javascript" src="/static/manager/report_form.js"></script>
</head>
	<body>
	{% block menu %}
        {% include 'manager/menu.html' %}
        {% endblock %}
        <form  method="POST" id="form_send" action="javascript:void(null);" onsubmit="Sender()">
		{% csrf_token %}	
        <table border=1px width=100%>
	<thead>
			<tr class="tr_head">
		<th colspan="2"><a class="back"  href="{% url 'index' %}">На главную</a>Создание отчёта</th>
			</tr>
		</thead>
		<tbody class="tr_body">
                <tr>
		<td class="tr_main"><label>Выберите начало периода</label></td>
		<td id="start" class="form-group">{{ form.start_period }}
		</td>
		</tr>
                <tr>
		<td class="tr_main"><label>Выберите конец периода</label></td>
		<td id="end">{{ form.end_period }}
		</td>
		</tr>
                <tr id="succes_report">
                </tr>
                <tr class="tr_main">
			<td  colspan="2">
			<input id="sender" border="2px"  type="submit"  value="Создать"/>
			</td>
			</tr>
		</tbody>
        </table>
        </form>
{{ form.media }}
<script src="{% static 'manager/link.js' %}"></script>
</body>
</html>
