{% load static %}
<html>
<head>
<title>Простои</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<link rel="stylesheet" href="{% static 'css/time.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/inlines.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<script type="text/javascript" src="/static/manager/stat_downtime_send.js"></script>
<script type="text/javascript" src="/static/manager/stat_downtime_form.js"></script>
</head>
<body>
{% block menu %}
{% include 'manager/menu.html' %}
{% endblock %}

<form  method="POST" id="form_send_stat_d" action="javascript:void(null);" onsubmit="Sender_Stat_Downtime()">
	{% csrf_token %}		
        <table border=1px width=100%>
	<thead>
			<tr class="tr_head">
		<th colspan="2"><a class="back"  href="{% url 'index' %}">На главную</a>Статистика простоев</th>
			</tr>
		</thead>
		<tbody class="tr_body">
                <tr>
		<td class="tr_main"><label>Выберите начало периода</label></td>
		<td id="start" class="form-group">{{ form.start_period }}
		</td>
		</tr>
                <tr>
		<td class="tr_main"><label>Выберите конец периода</label></td>
		<td id="end">{{ form.end_period }}
		</td>
		</tr>
                <tr id="succes_report">
                </tr>
                <tr>
				<td class="tr_main"><label>Подразделение</label></td>
				<td id="my_work">
				{{ form.workspace }}
				</td>
			</tr>
			<tr>
				<td class="tr_main"><label>Тип оборудования</label></td>
				<td><select id="type_inventory"></select>
			        </td>
			</tr>
			<tr>
				<td class="tr_main"><label>Модель</label></td>
                                <td><select id="model"></select></td>
			</tr>
			<tr>
				<td class="tr_main"><label>Инвентарный №</label></td>
 				<td><select id="inventory"></select><p id="succes_equipment"></p></td>
	        </tr>
                
                <tr class="tr_main">
			<td  colspan="2">
			<input  border="2px"  type="submit"  value="Отправить"/>
			</td>
			</tr>
		</tbody>
        </table>
        <br>
        <table border=1px width=100%>
		<thead>
			<tr class="tr_head">
			<td colspan="6" class="tr_main">Результат</td>
			</tr>
			<tr class="tr_head">
				<th>№ инцидента</th>
				<th>Время простоя</th>
			</tr>
		</thead>
		<tbody id="succes_stat_down" class="tr_body">
		<tbody>
</form>
{% block footer_js %}
<script>
    var django = django || {};
    django.jQuery = $;
</script>
{{ form.media }}
{% endblock %}
</body>
</html>
