{% load staticfiles %}
<html>
<head>
<title>Динамика аварий</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<link rel="stylesheet" href="{% static 'css/time.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/inlines.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="/static/manager/stat_issue_send.js"></script>
</head>
<body>
{% block menu %}
{% include 'manager/menu.html' %}
{% endblock %}			
 <form  method="POST" id="form_send_stat" action="javascript:void(null);" onsubmit="Sender_Stat()">
		{% csrf_token %}	
        <table border=1px width=100%>
	<thead>
			<tr class="tr_head">
		<th colspan="2"><a class="back"  href="{% url 'index' %}">На главную</a>Статистика аварийности</th>
			</tr>
		</thead>
		<tbody class="tr_body">
                <tr>
		<td class="tr_main"><label>Выберите начало периода</label></td>
		<td id="start" class="form-group">{{ form.start_period }}
		</td>
		</tr>
                <tr>
		<td class="tr_main"><label>Выберите конец периода</label></td>
		<td id="end">{{ form.end_period }}
		</td>
		</tr>
                <tr id="succes_report">
                </tr>
                <tr class="tr_main">
			<td  colspan="2">
			<input id="sender" border="2px"  type="submit"  value="Выбрать"/>
			</td>
			</tr>
		</tbody>
        </table>
        <br>
        <table border=1px width=100%>
		<thead>
                <tr class="tr_head">
			<td colspan="6" class="tr_main">Статистика по уровням</td>
			</tr>
                <tr class="tr_head">
                <th>Аварий уровня А5</th>
                <th>Аварий уровня А4</th>
                <th>Аварий уровня А3</th>
                <th>Аварий уровня А2</th>
                <th>Аварий уровня А1</th>
                </tr>
		</thead>
		<tbody id="succes_stat" class="tr_body">
		<tbody>
                </table>
                <br>
         <table border=1px width=100%>
		<thead>
                <tr class="tr_head">
			<td colspan="8" class="tr_main">Статистика по статусам</td>
			</tr>
                <tr class="tr_head">
                <th>Назначена</th>
                <th>В работе</th>
                <th>Ожидается разрешение</th>
                <th>Ожидается поставка</th>
                <th>Завершена</th>
                <th>Не подтверждена</th>
                <th>Временное решение</th>
                <th>Закрыта</th>
                </tr>
		</thead>
		<tbody id="succes_status" class="tr_body">
		<tbody>
         </table>
{% block footer_js %}
<script>
    var django = django || {};
    django.jQuery = $;
</script>
{{ form.media }}
{% endblock %}
</body>
</html>
