{% load staticfiles %}
<html>
<head>
<title>Динамика аварий</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<link rel="stylesheet" href="{% static 'css/time.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/inlines.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
</head>
<body>
{% block menu %}
{% include 'manager/menu.html' %}
{% endblock %}
<!--<form  method="POST" id="form_send"> <!--action="javascript:void(null);" onsubmit="Searcher()">-->
			
        <table border=1px width=100%>
	<thead>
			<tr class="tr_head">
		<th colspan="2"><a class="back"  href="{% url 'index' %}">На главную</a>Статистика аварийности</th>
			</tr>
		</thead>
		<tbody class="tr_body">
		</tbody>
        </table>
        <br>
        <table border=1px width=100%>
		<thead>
		</thead>
		<tbody class="tr_body">
		<tbody>
        <!--</form>-->
{% block footer_js %}
<script>
    var django = django || {};
    django.jQuery = $;
</script>
{{ form.media }}
{% endblock %}
<script src="{% static 'manager/link.js' %}"></script>
</body>
</html>
