{% load static %}
<html>
<head>
<title>Авторизация</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/inlines.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<script type="text/javascript" src="/static/login/sender_login.js"></script>
<head>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
	<body>
	<div class="form">
	<h1>Вас приветствует Система Управления Инцидентами</h1>
	<h2>Для входа в систему введите учётные данные:</h2>
        <p id="result_login"></p>
	<form  method="POST" id="login" action="javascript:void(null);" onsubmit="Sender_Login()">
		{% csrf_token %}	
		<table>
		<tr>
			<td class="table">
			<label>Имя пользователя</label>
			</td>
			<td> 
                	{{ form.username }}
			</td>
		</tr>
		<tr>
			<td class="table">
			<label>Пароль</label>
			</td>
			<td> 
                	{{ form.password }}
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<input border="2px" id="sender_login" type="submit" value="Войти"/>
			</td>
		</tr>
		</table>
        </form>
	</div>	
	</body>
<script>
    var django = django || {};
    django.jQuery = $;
</script>
</html>
