/*background:#fff
#d8dfea --вариант 1 - цвет фона
#c0deed --вариант 2*/
body
	{
		background-color:#d8dfea;
	}
h1
	{
		font-family: 'Times New Roman';
		font-weight: bold;
		display: inline;
		
	}

textarea
	{
		width: 100%;
		font-size: 14px;
		height: 100px;
	}


.visit:hover
	{
  		position: relative;
  		top: 2px;
  		left: 2px;
		width:100%;
	}

.back	
	{
		position: absolute;
		left: 2%;
		color:#fff;
		
	}

.forward	
	{
		position: absolute;
		right: 2%;
		color:#fff;
		
	}
		


.tr_head {
		background-color:#517fa4;
		color:#fff;
 
	}

.tr_main {
		background-color:#517fa4;
		color:#fff;
		width: 30%;
		text-align: center;
		vertical-align: center;
                height: 30px;

	}

.tr_body
	{
		background-color:#fff;
	}

.tr_click:hover {
		background-color:#a8cdf5;
	}

.autorised
	{
		background-color:#a8cdf5;
		border-color:black;
		border-style: solid;
		border-width: 1px; 
	}
		



input[type=submit]
	{
		
		border: 2px solid;
		border-style: ridge;
		height:40px;
		text-align: center;
	}


.logo
	{
		height: 60px;
		border-radius: 100px;
		display: inline;
		
	}

#logo_img

	{
		display: inline;
	}

.log_user

	{
		position: absolute;
		right: 1%;
		top: 2%;
                border-color:black;
		border-style: solid;
		border-width: 1px;
		width:20%;
	}
		
#navbar
	 {
        height: 50px;
        background-color:  #517fa4;  /*фон панели навигации*/
        padding-left: 15px;
        min-width: 95%;
	text-align: center;
      }

#navbar 
ul{
        display: none;
        background-color: #4682B4;
        position: absolute;
        top: 100%;
	
      }

#navbar 
li:hover ul 
	{ display: block;
	 }

#navbar, #navbar 
ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
      }

#navbar 
li {
        float: left;
        position: relative;
        height: 100%;
      }
#navbar 
li a {
        display: block;
	padding: 15px 5px;
        width: 180px;
        color: #fff;
        text-decoration: none;
        text-align: center;
	
      }
#navbar 
ul 
li { float: none;
 }
#navbar 
li:hover { 
		background-color: #4682B4; 
		
		
	}
#navbar 
ul 
li:hover { background-color: #a1b9d3;
 	border-color:black;
	border-style: solid;
	border-width: 1px;
				 
	}


.menu {
	border-right: solid black;
	border-width: 1px;
	padding: 15px 5px;
	width: 180px;
      }

.exit {
	
	padding: 15px 5px;
	width: 10%;
      }
	
